<div *ngIf="starSystem" class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">{{ starSystem.name }}</h1>
    <p class="lead">Age: {{ starSystem.age }}</p>
    <p *ngIf="starSystem.massCenter">Center of Mass: <a routerLink="/spacedetail/{{starSystem.massCenterId}}" class="text-info">{{ starSystem.massCenter.name }}</a></p>
  </div>
<a *ngIf="!starSystem.massCenter" routerLink="/formstar/{{starSystem.id}}" class="text-primary">Add mass center</a>
  <div class="row">
    <h2 class="mb-4">Space Objects:</h2>
  
    <div class="col-md-4" *ngFor="let spaceObject of starSystem.spaceObjects">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <h5 class="card-title">
            <a routerLink="/spacedetail/{{spaceObject.id}}" class="text-primary">
              {{ spaceObject.name }}
            </a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
