<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title display-4">{{ spaceObject.name }}</h1>
      <div class="card-text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Type:</strong> {{ spaceObject.type }}</li>
          <li class="list-group-item"><strong>Age:</strong> {{ spaceObject.age }}</li>
          <li class="list-group-item"><strong>Diameter:</strong> {{ spaceObject.diameter }}</li>
          <li class="list-group-item"><strong>Mass:</strong> {{ spaceObject.mass }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
